.layout__area--top {
  background: #0a0e1e;
  /* height: 20px; */
}

.group-wWM3zP_M- {
  background: #0a0e1e !important;
  /* height: 20px; */
}

.layout__area--center {
  /* top: 20px !important; */
}

.pane-legend-title__container.apply-overflow-tooltip.apply-overflow-tooltip--allow-text.apply-overflow-tooltip--check-children {
  font-size: 12px;
}